--
-- PostgreSQL database dump
--

-- Dumped from database version 17.5
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: actualizar_estado_examen(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.actualizar_estado_examen() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_valor_decimal DECIMAL;
    v_tipo_examen_nombre VARCHAR(50);
BEGIN
    -- Obtener el nombre del tipo de examen para determinar c├│mo procesar el valor
    SELECT nombre INTO v_tipo_examen_nombre 
    FROM tipo_examen 
    WHERE id = NEW.tipo_examen_id;
    
    -- Procesar el valor seg├║n el tipo de examen
    IF NEW.valor IS NOT NULL THEN
        CASE v_tipo_examen_nombre
            WHEN 'BLOOD_PRESSURE' THEN
                -- Para presi├│n arterial, usar solo la sist├│lica (primer n├║mero antes de /)
                IF NEW.valor LIKE '%/%' THEN
                    v_valor_decimal := CAST(SPLIT_PART(NEW.valor, '/', 1) AS DECIMAL);
                ELSE
                    v_valor_decimal := CAST(NEW.valor AS DECIMAL);
                END IF;
            WHEN 'BLOOD_PRESSURE_SYSTOLIC' THEN
                -- Para presi├│n sist├│lica, usar el valor directamente
                v_valor_decimal := CAST(NEW.valor AS DECIMAL);
            WHEN 'BLOOD_PRESSURE_DIASTOLIC' THEN
                -- Para presi├│n diast├│lica, usar el valor directamente
                v_valor_decimal := CAST(NEW.valor AS DECIMAL);
            ELSE
                -- Para otros tipos, intentar conversi├│n directa
                BEGIN
                    v_valor_decimal := CAST(NEW.valor AS DECIMAL);
                EXCEPTION
                    WHEN OTHERS THEN
                        -- Si falla la conversi├│n, usar NULL (no asignar estado)
                        v_valor_decimal := NULL;
                END;
        END CASE;
        
        -- Solo calcular estado si tenemos un valor decimal v├ílido
        IF v_valor_decimal IS NOT NULL THEN
            NEW.estado_salud_id = calcular_estado_examen(NEW.tipo_examen_id, v_valor_decimal);
        END IF;
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.actualizar_estado_examen() OWNER TO postgres;

--
-- Name: actualizar_ultimo_acceso(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.actualizar_ultimo_acceso() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    UPDATE usuario
    SET ultimo_acceso = CURRENT_TIMESTAMP
    WHERE id = NEW.usuario_id;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.actualizar_ultimo_acceso() OWNER TO postgres;

--
-- Name: calcular_estado_examen(integer, numeric); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.calcular_estado_examen(p_tipo_examen_id integer, p_valor numeric) RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
    v_estado_id INTEGER;
BEGIN
    -- Buscar el estado correspondiente al valor
    SELECT rr.estado_salud_id INTO v_estado_id
    FROM rango_referencia rr
    JOIN estado_salud es ON rr.estado_salud_id = es.id
    WHERE rr.tipo_examen_id = p_tipo_examen_id
      AND rr.es_activo = true
      AND (rr.valor_minimo IS NULL OR p_valor >= rr.valor_minimo)
      AND (rr.valor_maximo IS NULL OR p_valor <= rr.valor_maximo)
    ORDER BY rr.orden DESC, es.nivel_urgencia DESC
    LIMIT 1;
    
    -- Si no encuentra, retornar NORMAL por defecto
    RETURN COALESCE(v_estado_id, (SELECT id FROM estado_salud WHERE codigo = 'NORMAL'));
END;
$$;


ALTER FUNCTION public.calcular_estado_examen(p_tipo_examen_id integer, p_valor numeric) OWNER TO postgres;

--
-- Name: FUNCTION calcular_estado_examen(p_tipo_examen_id integer, p_valor numeric); Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON FUNCTION public.calcular_estado_examen(p_tipo_examen_id integer, p_valor numeric) IS 'Calcula autom├íticamente el estado de salud basado en el valor del examen';


--
-- Name: get_ultimos_examenes_por_tipo(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.get_ultimos_examenes_por_tipo(p_usuario_id uuid) RETURNS TABLE(tipo_examen_id integer, tipo_examen_nombre character varying, ultimo_examen_id integer, titulo character varying, valor character varying, unidad character varying, fecha_creacion timestamp with time zone)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    SELECT DISTINCT ON (e.tipo_examen_id)
        e.tipo_examen_id,
        te.nombre::VARCHAR as tipo_examen_nombre,
        e.id as ultimo_examen_id,
        e.titulo::VARCHAR,
        e.valor::VARCHAR,
        e.unidad::VARCHAR,
        e.fecha_creacion
    FROM public.examen e
    INNER JOIN public.tipo_examen te ON e.tipo_examen_id = te.id
    WHERE e.usuario_id = p_usuario_id 
        AND e.activo = TRUE
    ORDER BY e.tipo_examen_id, e.fecha_creacion DESC;
END;
$$;


ALTER FUNCTION public.get_ultimos_examenes_por_tipo(p_usuario_id uuid) OWNER TO postgres;

--
-- Name: guardar_historial_password(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.guardar_historial_password() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    IF TG_OP = 'INSERT' THEN
        INSERT INTO historial_password (usuario_id, password_hash)
        VALUES (NEW.id, NEW.password_hash);
    ELSIF TG_OP = 'UPDATE' THEN
        IF NEW.password_hash <> OLD.password_hash THEN
            INSERT INTO historial_password (usuario_id, password_hash)
            VALUES (NEW.id, NEW.password_hash);
        END IF;
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.guardar_historial_password() OWNER TO postgres;

--
-- Name: obtener_info_estado(integer); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.obtener_info_estado(p_estado_id integer) RETURNS TABLE(codigo character varying, nombre character varying, emoji character varying, color character varying, descripcion text, nivel_urgencia integer)
    LANGUAGE plpgsql
    AS $$
BEGIN
    RETURN QUERY
    SELECT 
        es.codigo,
        es.nombre,
        es.emoji,
        es.color,
        es.descripcion,
        es.nivel_urgencia
    FROM estado_salud es
    WHERE es.id = p_estado_id AND es.es_activo = true;
END;
$$;


ALTER FUNCTION public.obtener_info_estado(p_estado_id integer) OWNER TO postgres;

--
-- Name: FUNCTION obtener_info_estado(p_estado_id integer); Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON FUNCTION public.obtener_info_estado(p_estado_id integer) IS 'Obtiene informaci├│n completa de un estado de salud';


--
-- Name: registrar_log_sincronizacion(uuid, character varying, character varying, integer, jsonb, boolean, text, inet, text); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.registrar_log_sincronizacion(p_usuario_id uuid, p_tipo_operacion character varying, p_tabla_afectada character varying, p_registro_id integer DEFAULT NULL::integer, p_detalle_operacion jsonb DEFAULT NULL::jsonb, p_exitoso boolean DEFAULT true, p_mensaje_error text DEFAULT NULL::text, p_ip_cliente inet DEFAULT NULL::inet, p_user_agent text DEFAULT NULL::text) RETURNS integer
    LANGUAGE plpgsql
    AS $$
DECLARE
    log_id INTEGER;
BEGIN
    INSERT INTO public.log_sincronizacion (
        usuario_id, tipo_operacion, tabla_afectada, registro_id,
        detalle_operacion, exitoso, mensaje_error, ip_cliente, user_agent
    ) VALUES (
        p_usuario_id, p_tipo_operacion, p_tabla_afectada, p_registro_id,
        p_detalle_operacion, p_exitoso, p_mensaje_error, p_ip_cliente, p_user_agent
    ) RETURNING id INTO log_id;
    
    RETURN log_id;
END;
$$;


ALTER FUNCTION public.registrar_log_sincronizacion(p_usuario_id uuid, p_tipo_operacion character varying, p_tabla_afectada character varying, p_registro_id integer, p_detalle_operacion jsonb, p_exitoso boolean, p_mensaje_error text, p_ip_cliente inet, p_user_agent text) OWNER TO postgres;

--
-- Name: update_fecha_modificacion(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_fecha_modificacion() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.fecha_modificacion = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_fecha_modificacion() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cita_examenes_previstos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cita_examenes_previstos (
    cita_id integer NOT NULL,
    tipo_examen_id integer NOT NULL
);


ALTER TABLE public.cita_examenes_previstos OWNER TO postgres;

--
-- Name: citas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.citas (
    id integer NOT NULL,
    paciente_id uuid NOT NULL,
    creado_por_usuario_id uuid NOT NULL,
    estado_cita_id integer DEFAULT 1 NOT NULL,
    fecha_cita timestamp with time zone NOT NULL,
    observaciones_admin text,
    observaciones_paciente text,
    fecha_creacion timestamp with time zone DEFAULT now(),
    fecha_modificacion timestamp with time zone DEFAULT now()
);


ALTER TABLE public.citas OWNER TO postgres;

--
-- Name: citas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.citas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.citas_id_seq OWNER TO postgres;

--
-- Name: citas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.citas_id_seq OWNED BY public.citas.id;


--
-- Name: ciudad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ciudad (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    departamento_id integer NOT NULL,
    codigo character varying(10)
);


ALTER TABLE public.ciudad OWNER TO postgres;

--
-- Name: ciudad_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.ciudad_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.ciudad_id_seq OWNER TO postgres;

--
-- Name: ciudad_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.ciudad_id_seq OWNED BY public.ciudad.id;


--
-- Name: departamento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departamento (
    id integer NOT NULL,
    nombre character varying(100) NOT NULL,
    codigo character varying(5)
);


ALTER TABLE public.departamento OWNER TO postgres;

--
-- Name: departamento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.departamento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departamento_id_seq OWNER TO postgres;

--
-- Name: departamento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.departamento_id_seq OWNED BY public.departamento.id;


--
-- Name: estado_cita; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estado_cita (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text
);


ALTER TABLE public.estado_cita OWNER TO postgres;

--
-- Name: estado_cita_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.estado_cita_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.estado_cita_id_seq OWNER TO postgres;

--
-- Name: estado_cita_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.estado_cita_id_seq OWNED BY public.estado_cita.id;


--
-- Name: estado_salud; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estado_salud (
    id integer NOT NULL,
    codigo character varying(30) NOT NULL,
    nombre character varying(50) NOT NULL,
    emoji character varying(10),
    color character varying(7),
    descripcion text,
    nivel_urgencia integer DEFAULT 0,
    es_activo boolean DEFAULT true,
    fecha_creacion timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.estado_salud OWNER TO postgres;

--
-- Name: TABLE estado_salud; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.estado_salud IS 'Estados estandarizados de salud para todos los tipos de examen';


--
-- Name: estado_salud_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.estado_salud_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.estado_salud_id_seq OWNER TO postgres;

--
-- Name: estado_salud_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.estado_salud_id_seq OWNED BY public.estado_salud.id;


--
-- Name: examen; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.examen (
    id integer NOT NULL,
    usuario_id uuid NOT NULL,
    tipo_examen_id integer NOT NULL,
    titulo character varying(200) NOT NULL,
    valor character varying(100) NOT NULL,
    unidad character varying(20),
    observaciones text,
    fecha_creacion timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_modificacion timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    activo boolean DEFAULT true,
    sincronizado boolean DEFAULT true,
    datos_adicionales jsonb,
    estado_salud_id integer
);


ALTER TABLE public.examen OWNER TO postgres;

--
-- Name: TABLE examen; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.examen IS 'Tabla principal de ex┬ámenes realizados por los usuarios';


--
-- Name: COLUMN examen.usuario_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.examen.usuario_id IS 'ID UUID del usuario que realiz┬ó el examen';


--
-- Name: COLUMN examen.sincronizado; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.examen.sincronizado IS 'Indica si el registro ha sido sincronizado desde dispositivos m┬óviles';


--
-- Name: COLUMN examen.datos_adicionales; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.examen.datos_adicionales IS 'Datos en formato JSON para informaci┬ón espec┬ífica del tipo de examen';


--
-- Name: examen_archivo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.examen_archivo (
    id integer NOT NULL,
    examen_id integer NOT NULL,
    nombre_archivo character varying(255) NOT NULL,
    ruta_archivo character varying(500) NOT NULL,
    tipo_archivo character varying(100),
    "tama┬ño_bytes" bigint,
    fecha_subida timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    activo boolean DEFAULT true
);


ALTER TABLE public.examen_archivo OWNER TO postgres;

--
-- Name: TABLE examen_archivo; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.examen_archivo IS 'Archivos adjuntos asociados a los ex┬ámenes';


--
-- Name: examen_archivo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.examen_archivo_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.examen_archivo_id_seq OWNER TO postgres;

--
-- Name: examen_archivo_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.examen_archivo_id_seq OWNED BY public.examen_archivo.id;


--
-- Name: tipo_examen; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tipo_examen (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text,
    unidad_medida character varying(20),
    activo boolean DEFAULT true,
    fecha_creacion timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.tipo_examen OWNER TO postgres;

--
-- Name: TABLE tipo_examen; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.tipo_examen IS 'Cat┬álogo de tipos de ex┬ámenes mÔÇÜdicos disponibles';


--
-- Name: examen_con_estado; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.examen_con_estado AS
 SELECT e.id,
    e.usuario_id,
    e.tipo_examen_id,
    e.titulo,
    e.valor,
    e.unidad,
    e.observaciones,
    e.fecha_creacion,
    e.fecha_modificacion,
    e.activo,
    e.sincronizado,
    e.datos_adicionales,
    e.estado_salud_id,
    es.codigo AS estado_codigo,
    es.nombre AS estado_nombre,
    es.emoji AS estado_emoji,
    es.color AS estado_color,
    es.descripcion AS estado_descripcion,
    es.nivel_urgencia AS estado_nivel_urgencia,
    te.nombre AS tipo_examen_nombre
   FROM ((public.examen e
     LEFT JOIN public.estado_salud es ON ((e.estado_salud_id = es.id)))
     LEFT JOIN public.tipo_examen te ON ((e.tipo_examen_id = te.id)))
  WHERE (es.es_activo = true);


ALTER VIEW public.examen_con_estado OWNER TO postgres;

--
-- Name: VIEW examen_con_estado; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON VIEW public.examen_con_estado IS 'Vista que muestra ex├ímenes con informaci├│n completa de estado de salud';


--
-- Name: examen_detalle; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.examen_detalle (
    id integer NOT NULL,
    examen_id integer NOT NULL,
    campo character varying(50) NOT NULL,
    valor character varying(255) NOT NULL,
    tipo_dato character varying(20) DEFAULT 'text'::character varying
);


ALTER TABLE public.examen_detalle OWNER TO postgres;

--
-- Name: TABLE examen_detalle; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.examen_detalle IS 'Detalles espec┬íficos de cada examen (campos din┬ámicos)';


--
-- Name: examen_detalle_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.examen_detalle_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.examen_detalle_id_seq OWNER TO postgres;

--
-- Name: examen_detalle_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.examen_detalle_id_seq OWNED BY public.examen_detalle.id;


--
-- Name: examen_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.examen_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.examen_id_seq OWNER TO postgres;

--
-- Name: examen_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.examen_id_seq OWNED BY public.examen.id;


--
-- Name: historial_password; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.historial_password (
    id integer NOT NULL,
    usuario_id uuid NOT NULL,
    password_hash character varying(255) NOT NULL,
    fecha_cambio timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.historial_password OWNER TO postgres;

--
-- Name: historial_password_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.historial_password_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.historial_password_id_seq OWNER TO postgres;

--
-- Name: historial_password_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.historial_password_id_seq OWNED BY public.historial_password.id;


--
-- Name: log_auditoria; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.log_auditoria (
    id integer NOT NULL,
    usuario_id uuid,
    accion character varying(50) NOT NULL,
    tabla character varying(50) NOT NULL,
    registro_id character varying(50),
    datos_antiguos jsonb,
    datos_nuevos jsonb,
    ip_address character varying(45),
    fecha timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.log_auditoria OWNER TO postgres;

--
-- Name: log_auditoria_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.log_auditoria_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.log_auditoria_id_seq OWNER TO postgres;

--
-- Name: log_auditoria_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.log_auditoria_id_seq OWNED BY public.log_auditoria.id;


--
-- Name: postgres_ciudad_id; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.postgres_ciudad_id (
    id integer
);


ALTER TABLE public.postgres_ciudad_id OWNER TO postgres;

--
-- Name: postgres_tipo_doc_id; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.postgres_tipo_doc_id (
    id integer
);


ALTER TABLE public.postgres_tipo_doc_id OWNER TO postgres;

--
-- Name: rango_referencia; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rango_referencia (
    id integer NOT NULL,
    tipo_examen_id integer,
    estado_salud_id integer,
    valor_minimo numeric(10,2),
    valor_maximo numeric(10,2),
    unidad character varying(20),
    orden integer DEFAULT 0,
    es_activo boolean DEFAULT true,
    fecha_creacion timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.rango_referencia OWNER TO postgres;

--
-- Name: TABLE rango_referencia; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.rango_referencia IS 'Rangos de referencia que determinan el estado de salud para cada tipo de examen';


--
-- Name: rango_referencia_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rango_referencia_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rango_referencia_id_seq OWNER TO postgres;

--
-- Name: rango_referencia_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rango_referencia_id_seq OWNED BY public.rango_referencia.id;


--
-- Name: rol; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rol (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    descripcion text,
    permisos jsonb,
    activo boolean DEFAULT true
);


ALTER TABLE public.rol OWNER TO postgres;

--
-- Name: rol_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rol_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rol_id_seq OWNER TO postgres;

--
-- Name: rol_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rol_id_seq OWNED BY public.rol.id;


--
-- Name: sesion_usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sesion_usuario (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    usuario_id uuid NOT NULL,
    token character varying(255) NOT NULL,
    ip_address character varying(45),
    dispositivo character varying(255),
    fecha_inicio timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    fecha_expiracion timestamp with time zone NOT NULL,
    activa boolean DEFAULT true
);


ALTER TABLE public.sesion_usuario OWNER TO postgres;

--
-- Name: tipo_documento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tipo_documento (
    id integer NOT NULL,
    nombre character varying(50) NOT NULL,
    abreviatura character varying(10) NOT NULL,
    activo boolean DEFAULT true
);


ALTER TABLE public.tipo_documento OWNER TO postgres;

--
-- Name: tipo_documento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tipo_documento_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipo_documento_id_seq OWNER TO postgres;

--
-- Name: tipo_documento_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tipo_documento_id_seq OWNED BY public.tipo_documento.id;


--
-- Name: tipo_examen_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.tipo_examen_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tipo_examen_id_seq OWNER TO postgres;

--
-- Name: tipo_examen_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.tipo_examen_id_seq OWNED BY public.tipo_examen.id;


--
-- Name: token_recuperacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.token_recuperacion (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    usuario_id uuid NOT NULL,
    token character varying(255) NOT NULL,
    fecha_expiracion timestamp with time zone NOT NULL,
    utilizado boolean DEFAULT false,
    fecha_creacion timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.token_recuperacion OWNER TO postgres;

--
-- Name: usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuario (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    username character varying(50) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    primer_nombre character varying(50) NOT NULL,
    segundo_nombre character varying(50),
    primer_apellido character varying(50) NOT NULL,
    segundo_apellido character varying(50),
    tipo_documento_id integer NOT NULL,
    numero_documento character varying(20) NOT NULL,
    telefono character varying(20),
    direccion character varying(255),
    ciudad_id integer,
    fecha_nacimiento date,
    genero character(1),
    rol_id integer NOT NULL,
    fecha_registro timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    ultimo_acceso timestamp with time zone,
    verificado boolean DEFAULT false,
    activo boolean DEFAULT true,
    CONSTRAINT usuario_genero_check CHECK ((genero = ANY (ARRAY['M'::bpchar, 'F'::bpchar, 'O'::bpchar])))
);


ALTER TABLE public.usuario OWNER TO postgres;

--
-- Name: v_examen_completo; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.v_examen_completo AS
SELECT
    NULL::integer AS id,
    NULL::uuid AS usuario_id,
    NULL::character varying(50) AS username,
    NULL::character varying(50) AS primer_nombre,
    NULL::character varying(50) AS primer_apellido,
    NULL::integer AS tipo_examen_id,
    NULL::character varying(50) AS tipo_examen_nombre,
    NULL::text AS tipo_examen_descripcion,
    NULL::character varying(200) AS titulo,
    NULL::character varying(100) AS valor,
    NULL::character varying(20) AS unidad,
    NULL::text AS observaciones,
    NULL::timestamp with time zone AS fecha_creacion,
    NULL::timestamp with time zone AS fecha_modificacion,
    NULL::boolean AS activo,
    NULL::boolean AS sincronizado,
    NULL::jsonb AS datos_adicionales,
    NULL::bigint AS cantidad_detalles,
    NULL::bigint AS cantidad_archivos;


ALTER VIEW public.v_examen_completo OWNER TO postgres;

--
-- Name: citas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas ALTER COLUMN id SET DEFAULT nextval('public.citas_id_seq'::regclass);


--
-- Name: ciudad id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ciudad ALTER COLUMN id SET DEFAULT nextval('public.ciudad_id_seq'::regclass);


--
-- Name: departamento id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departamento ALTER COLUMN id SET DEFAULT nextval('public.departamento_id_seq'::regclass);


--
-- Name: estado_cita id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estado_cita ALTER COLUMN id SET DEFAULT nextval('public.estado_cita_id_seq'::regclass);


--
-- Name: estado_salud id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estado_salud ALTER COLUMN id SET DEFAULT nextval('public.estado_salud_id_seq'::regclass);


--
-- Name: examen id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.examen ALTER COLUMN id SET DEFAULT nextval('public.examen_id_seq'::regclass);


--
-- Name: examen_archivo id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.examen_archivo ALTER COLUMN id SET DEFAULT nextval('public.examen_archivo_id_seq'::regclass);


--
-- Name: examen_detalle id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.examen_detalle ALTER COLUMN id SET DEFAULT nextval('public.examen_detalle_id_seq'::regclass);


--
-- Name: historial_password id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historial_password ALTER COLUMN id SET DEFAULT nextval('public.historial_password_id_seq'::regclass);


--
-- Name: log_auditoria id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_auditoria ALTER COLUMN id SET DEFAULT nextval('public.log_auditoria_id_seq'::regclass);


--
-- Name: rango_referencia id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rango_referencia ALTER COLUMN id SET DEFAULT nextval('public.rango_referencia_id_seq'::regclass);


--
-- Name: rol id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol ALTER COLUMN id SET DEFAULT nextval('public.rol_id_seq'::regclass);


--
-- Name: tipo_documento id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_documento ALTER COLUMN id SET DEFAULT nextval('public.tipo_documento_id_seq'::regclass);


--
-- Name: tipo_examen id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_examen ALTER COLUMN id SET DEFAULT nextval('public.tipo_examen_id_seq'::regclass);


--
-- Data for Name: cita_examenes_previstos; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cita_examenes_previstos (cita_id, tipo_examen_id) FROM stdin;
1	1
1	8
1	9
4	1
4	6
4	3
4	4
5	1
3	8
3	7
3	4
3	5
6	1
6	7
8	1
8	7
8	3
8	4
8	8
\.


--
-- Data for Name: citas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ciudad; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.ciudad (id, nombre, departamento_id, codigo) FROM stdin;
1	Medell┬ín	1	05001
2	Barranquilla	2	08001
3	Bogot┬á	3	11001
4	Cartagena	4	13001
5	Tunja	5	15001
6	Manizales	6	17001
7	Cali	8	76001
\.


--
-- Data for Name: departamento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.departamento (id, nombre, codigo) FROM stdin;
1	Antioquia	05
2	Atl┬ántico	08
3	Bogot┬á D.C.	11
4	Bol┬ívar	13
5	Boyac┬á	15
6	Caldas	17
7	Cundinamarca	25
8	Valle del Cauca	76
\.


--
-- Data for Name: estado_cita; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.estado_cita (id, nombre, descripcion) FROM stdin;
1	Programada	La cita ha sido creada por el personal m├®dico.
2	Confirmada por Paciente	El paciente ha confirmado su asistencia.
3	Cancelada por Paciente	La cita fue cancelada por el paciente.
4	Cancelada por Admin	La cita fue cancelada por el personal m├®dico.
5	Completada	El paciente asisti├│ y los ex├ímenes fueron realizados.
\.


--
-- Data for Name: estado_salud; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: examen; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: examen_archivo; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.examen_archivo (id, examen_id, nombre_archivo, ruta_archivo, tipo_archivo, "tama┬ño_bytes", fecha_subida, activo) FROM stdin;
\.


--
-- Data for Name: examen_detalle; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.examen_detalle (id, examen_id, campo, valor, tipo_dato) FROM stdin;
\.


--
-- Data for Name: historial_password; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: log_auditoria; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.log_auditoria (id, usuario_id, accion, tabla, registro_id, datos_antiguos, datos_nuevos, ip_address, fecha) FROM stdin;
\.


--
-- Data for Name: postgres_ciudad_id; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.postgres_ciudad_id (id) FROM stdin;
3
\.


--
-- Data for Name: postgres_tipo_doc_id; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.postgres_tipo_doc_id (id) FROM stdin;
1
\.


--
-- Data for Name: rango_referencia; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rol; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: sesion_usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sesion_usuario (id, usuario_id, token, ip_address, dispositivo, fecha_inicio, fecha_expiracion, activa) FROM stdin;
\.


--
-- Data for Name: tipo_documento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tipo_documento (id, nombre, abreviatura, activo) FROM stdin;
1	CÔÇÜdula de Ciudadan┬ía	CC	t
2	Tarjeta de Identidad	TI	t
3	CÔÇÜdula de Extranjer┬ía	CE	t
4	Pasaporte	PA	t
5	Registro Civil	RC	t
6	NIT	NIT	t
\.


--
-- Data for Name: tipo_examen; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: token_recuperacion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.token_recuperacion (id, usuario_id, token, fecha_expiracion, utilizado, fecha_creacion) FROM stdin;
\.


--
-- Data for Name: usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: citas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.citas_id_seq', 8, true);


--
-- Name: ciudad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.ciudad_id_seq', 7, true);


--
-- Name: departamento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.departamento_id_seq', 8, true);


--
-- Name: estado_cita_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estado_cita_id_seq', 1, false);


--
-- Name: estado_salud_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.estado_salud_id_seq', 4, true);


--
-- Name: examen_archivo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.examen_archivo_id_seq', 1, false);


--
-- Name: examen_detalle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.examen_detalle_id_seq', 1, false);


--
-- Name: examen_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.examen_id_seq', 167, true);


--
-- Name: historial_password_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.historial_password_id_seq', 11, true);


--
-- Name: log_auditoria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.log_auditoria_id_seq', 1, false);


--
-- Name: rango_referencia_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rango_referencia_id_seq', 49, true);


--
-- Name: rol_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rol_id_seq', 8, true);


--
-- Name: tipo_documento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tipo_documento_id_seq', 12, true);


--
-- Name: tipo_examen_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.tipo_examen_id_seq', 9, true);


--
-- Name: cita_examenes_previstos cita_examenes_previstos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cita_examenes_previstos
    ADD CONSTRAINT cita_examenes_previstos_pkey PRIMARY KEY (cita_id, tipo_examen_id);


--
-- Name: citas citas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT citas_pkey PRIMARY KEY (id);


--
-- Name: ciudad ciudad_nombre_departamento_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ciudad
    ADD CONSTRAINT ciudad_nombre_departamento_id_key UNIQUE (nombre, departamento_id);


--
-- Name: ciudad ciudad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ciudad
    ADD CONSTRAINT ciudad_pkey PRIMARY KEY (id);


--
-- Name: departamento departamento_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departamento
    ADD CONSTRAINT departamento_nombre_key UNIQUE (nombre);


--
-- Name: departamento departamento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departamento
    ADD CONSTRAINT departamento_pkey PRIMARY KEY (id);


--
-- Name: estado_cita estado_cita_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estado_cita
    ADD CONSTRAINT estado_cita_nombre_key UNIQUE (nombre);


--
-- Name: estado_cita estado_cita_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estado_cita
    ADD CONSTRAINT estado_cita_pkey PRIMARY KEY (id);


--
-- Name: estado_salud estado_salud_codigo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estado_salud
    ADD CONSTRAINT estado_salud_codigo_key UNIQUE (codigo);


--
-- Name: estado_salud estado_salud_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estado_salud
    ADD CONSTRAINT estado_salud_pkey PRIMARY KEY (id);


--
-- Name: examen_archivo examen_archivo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.examen_archivo
    ADD CONSTRAINT examen_archivo_pkey PRIMARY KEY (id);


--
-- Name: examen_detalle examen_detalle_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.examen_detalle
    ADD CONSTRAINT examen_detalle_pkey PRIMARY KEY (id);


--
-- Name: examen examen_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.examen
    ADD CONSTRAINT examen_pkey PRIMARY KEY (id);


--
-- Name: historial_password historial_password_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historial_password
    ADD CONSTRAINT historial_password_pkey PRIMARY KEY (id);


--
-- Name: log_auditoria log_auditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_auditoria
    ADD CONSTRAINT log_auditoria_pkey PRIMARY KEY (id);


--
-- Name: rango_referencia rango_referencia_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rango_referencia
    ADD CONSTRAINT rango_referencia_pkey PRIMARY KEY (id);


--
-- Name: rol rol_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol
    ADD CONSTRAINT rol_nombre_key UNIQUE (nombre);


--
-- Name: rol rol_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rol
    ADD CONSTRAINT rol_pkey PRIMARY KEY (id);


--
-- Name: sesion_usuario sesion_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sesion_usuario
    ADD CONSTRAINT sesion_usuario_pkey PRIMARY KEY (id);


--
-- Name: sesion_usuario sesion_usuario_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sesion_usuario
    ADD CONSTRAINT sesion_usuario_token_key UNIQUE (token);


--
-- Name: tipo_documento tipo_documento_abreviatura_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_documento
    ADD CONSTRAINT tipo_documento_abreviatura_key UNIQUE (abreviatura);


--
-- Name: tipo_documento tipo_documento_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_documento
    ADD CONSTRAINT tipo_documento_nombre_key UNIQUE (nombre);


--
-- Name: tipo_documento tipo_documento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_documento
    ADD CONSTRAINT tipo_documento_pkey PRIMARY KEY (id);


--
-- Name: tipo_examen tipo_examen_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_examen
    ADD CONSTRAINT tipo_examen_nombre_key UNIQUE (nombre);


--
-- Name: tipo_examen tipo_examen_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tipo_examen
    ADD CONSTRAINT tipo_examen_pkey PRIMARY KEY (id);


--
-- Name: token_recuperacion token_recuperacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_recuperacion
    ADD CONSTRAINT token_recuperacion_pkey PRIMARY KEY (id);


--
-- Name: token_recuperacion token_recuperacion_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_recuperacion
    ADD CONSTRAINT token_recuperacion_token_key UNIQUE (token);


--
-- Name: usuario usuario_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_email_key UNIQUE (email);


--
-- Name: usuario usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_pkey PRIMARY KEY (id);


--
-- Name: usuario usuario_tipo_documento_id_numero_documento_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_tipo_documento_id_numero_documento_key UNIQUE (tipo_documento_id, numero_documento);


--
-- Name: usuario usuario_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_username_key UNIQUE (username);


--
-- Name: idx_ciudad_departamento; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ciudad_departamento ON public.ciudad USING btree (departamento_id);


--
-- Name: idx_examen_detalle_campo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_examen_detalle_campo ON public.examen_detalle USING btree (examen_id, campo);


--
-- Name: idx_examen_sincronizado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_examen_sincronizado ON public.examen USING btree (usuario_id, sincronizado) WHERE (sincronizado = false);


--
-- Name: idx_examen_tipo_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_examen_tipo_fecha ON public.examen USING btree (tipo_examen_id, fecha_creacion DESC);


--
-- Name: idx_examen_usuario_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_examen_usuario_fecha ON public.examen USING btree (usuario_id, fecha_creacion DESC);


--
-- Name: idx_examen_usuario_tipo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_examen_usuario_tipo ON public.examen USING btree (usuario_id, tipo_examen_id);


--
-- Name: idx_sesion_usuario_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sesion_usuario_token ON public.sesion_usuario USING btree (token);


--
-- Name: idx_token_recuperacion_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_token_recuperacion_token ON public.token_recuperacion USING btree (token);


--
-- Name: idx_usuario_documento; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuario_documento ON public.usuario USING btree (tipo_documento_id, numero_documento);


--
-- Name: idx_usuario_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuario_email ON public.usuario USING btree (email);


--
-- Name: idx_usuario_username; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_usuario_username ON public.usuario USING btree (username);


--
-- Name: v_examen_completo _RETURN; Type: RULE; Schema: public; Owner: postgres
--

CREATE OR REPLACE VIEW public.v_examen_completo AS
 SELECT e.id,
    e.usuario_id,
    u.username,
    u.primer_nombre,
    u.primer_apellido,
    e.tipo_examen_id,
    te.nombre AS tipo_examen_nombre,
    te.descripcion AS tipo_examen_descripcion,
    e.titulo,
    e.valor,
    e.unidad,
    e.observaciones,
    e.fecha_creacion,
    e.fecha_modificacion,
    e.activo,
    e.sincronizado,
    e.datos_adicionales,
    count(ed.id) AS cantidad_detalles,
    count(ea.id) AS cantidad_archivos
   FROM ((((public.examen e
     JOIN public.usuario u ON ((e.usuario_id = u.id)))
     JOIN public.tipo_examen te ON ((e.tipo_examen_id = te.id)))
     LEFT JOIN public.examen_detalle ed ON ((e.id = ed.examen_id)))
     LEFT JOIN public.examen_archivo ea ON (((e.id = ea.examen_id) AND (ea.activo = true))))
  WHERE (e.activo = true)
  GROUP BY e.id, u.username, u.primer_nombre, u.primer_apellido, te.nombre, te.descripcion;


--
-- Name: examen trigger_actualizar_estado; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_actualizar_estado BEFORE INSERT OR UPDATE ON public.examen FOR EACH ROW EXECUTE FUNCTION public.actualizar_estado_examen();


--
-- Name: sesion_usuario trigger_actualizar_ultimo_acceso; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_actualizar_ultimo_acceso AFTER INSERT ON public.sesion_usuario FOR EACH ROW EXECUTE FUNCTION public.actualizar_ultimo_acceso();


--
-- Name: usuario trigger_guardar_historial_password; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_guardar_historial_password AFTER INSERT OR UPDATE ON public.usuario FOR EACH ROW EXECUTE FUNCTION public.guardar_historial_password();


--
-- Name: examen trigger_update_examen_fecha; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_examen_fecha BEFORE UPDATE ON public.examen FOR EACH ROW EXECUTE FUNCTION public.update_fecha_modificacion();


--
-- Name: cita_examenes_previstos cita_examenes_previstos_cita_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cita_examenes_previstos
    ADD CONSTRAINT cita_examenes_previstos_cita_id_fkey FOREIGN KEY (cita_id) REFERENCES public.citas(id) ON DELETE CASCADE;


--
-- Name: cita_examenes_previstos cita_examenes_previstos_tipo_examen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cita_examenes_previstos
    ADD CONSTRAINT cita_examenes_previstos_tipo_examen_id_fkey FOREIGN KEY (tipo_examen_id) REFERENCES public.tipo_examen(id);


--
-- Name: citas citas_creado_por_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT citas_creado_por_usuario_id_fkey FOREIGN KEY (creado_por_usuario_id) REFERENCES public.usuario(id);


--
-- Name: citas citas_estado_cita_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT citas_estado_cita_id_fkey FOREIGN KEY (estado_cita_id) REFERENCES public.estado_cita(id);


--
-- Name: citas citas_paciente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.citas
    ADD CONSTRAINT citas_paciente_id_fkey FOREIGN KEY (paciente_id) REFERENCES public.usuario(id);


--
-- Name: ciudad ciudad_departamento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ciudad
    ADD CONSTRAINT ciudad_departamento_id_fkey FOREIGN KEY (departamento_id) REFERENCES public.departamento(id);


--
-- Name: examen examen_estado_salud_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.examen
    ADD CONSTRAINT examen_estado_salud_id_fkey FOREIGN KEY (estado_salud_id) REFERENCES public.estado_salud(id);


--
-- Name: examen_archivo fk_archivo_examen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.examen_archivo
    ADD CONSTRAINT fk_archivo_examen FOREIGN KEY (examen_id) REFERENCES public.examen(id) ON DELETE CASCADE;


--
-- Name: examen_detalle fk_detalle_examen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.examen_detalle
    ADD CONSTRAINT fk_detalle_examen FOREIGN KEY (examen_id) REFERENCES public.examen(id) ON DELETE CASCADE;


--
-- Name: examen fk_examen_tipo; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.examen
    ADD CONSTRAINT fk_examen_tipo FOREIGN KEY (tipo_examen_id) REFERENCES public.tipo_examen(id) ON DELETE RESTRICT;


--
-- Name: examen fk_examen_usuario; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.examen
    ADD CONSTRAINT fk_examen_usuario FOREIGN KEY (usuario_id) REFERENCES public.usuario(id) ON DELETE CASCADE;


--
-- Name: historial_password historial_password_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.historial_password
    ADD CONSTRAINT historial_password_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuario(id);


--
-- Name: log_auditoria log_auditoria_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.log_auditoria
    ADD CONSTRAINT log_auditoria_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuario(id);


--
-- Name: rango_referencia rango_referencia_estado_salud_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rango_referencia
    ADD CONSTRAINT rango_referencia_estado_salud_id_fkey FOREIGN KEY (estado_salud_id) REFERENCES public.estado_salud(id);


--
-- Name: rango_referencia rango_referencia_tipo_examen_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rango_referencia
    ADD CONSTRAINT rango_referencia_tipo_examen_id_fkey FOREIGN KEY (tipo_examen_id) REFERENCES public.tipo_examen(id);


--
-- Name: sesion_usuario sesion_usuario_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sesion_usuario
    ADD CONSTRAINT sesion_usuario_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuario(id);


--
-- Name: token_recuperacion token_recuperacion_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_recuperacion
    ADD CONSTRAINT token_recuperacion_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuario(id);


--
-- Name: usuario usuario_ciudad_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_ciudad_id_fkey FOREIGN KEY (ciudad_id) REFERENCES public.ciudad(id);


--
-- Name: usuario usuario_rol_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_rol_id_fkey FOREIGN KEY (rol_id) REFERENCES public.rol(id);


--
-- Name: usuario usuario_tipo_documento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuario
    ADD CONSTRAINT usuario_tipo_documento_id_fkey FOREIGN KEY (tipo_documento_id) REFERENCES public.tipo_documento(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT CREATE ON SCHEMA public TO postgres;


--
-- PostgreSQL database dump complete
--

